/* existing CSS for fonts and variables */
@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  }
  
  :root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(0, 5%, 12%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);
    --color-black: hsl(0,0,0);
    --font-young-serif: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;
    --font-size-body: 16px;
  }
   
  body {
    font-family: var(--font-outfit);
    font-size: var(--font-size-body);
    background-color: var(--color-stone-100);
    color: var(--color-stone-600);
    margin: 0;
  }
   
  h1{
    font-family: var(--font-young-serif);
    color: var(--color-black);
    font-weight: 400;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
  }
  h2 {
    font-family: var(--font-young-serif);
    color: var(--color-brown-800);
    font-weight: 400;
    font-size: 1.8rem;
    margin-block-start: 1.7rem;
    margin-block-end: 0px;
  }
  h3{
    font-family: var(--font-outfit);
    /* font-size: 1.26rem; */
    /* font-weight: 600; */
    color: var(--color-rose-800);
  }
   
  /* Mobile styles */
  .wrapper {
    background-color: var(--color-white);
  }
  
  .recipe-img {
    width: 100%;
    height: auto;
    display: block;
  }
   
  .recipe-container { 
    padding: clamp(1rem, 5vw, 3rem); /*Consider using CSS functions like calc(), min(), and clamp() to create more responsive and flexible layouts that adapt to different viewport sizes.*/
  }
  .recipe-container header { 
    margin-bottom: 2rem;
  }
  .recipe-container p { 
    line-height: 1.5rem;
  }
   
  .recipe-prep-time {
    background-color: var(--color-rose-50);
    border-radius: 0.75rem;
    /*margin-top: 1rem;*/
    padding: 0.438rem 1.438rem;
  }
  
  .recipe-prep-time h3 {
    font-family: var(--font-outfit);
    color: var(--color-rose-800);
  }

  .recipe-prep-time li::marker{
    color: var(--color-rose-800);
  }
   
  /*ul, ol {
    margin: 0;
    padding-inline-start: 1.5rem; /*Use logical properties (e.g., inline-start instead of left) to support different reading directions and improve internationalization.
}*/
   
  ul li, ol li {
    /*padding-left: 0.5rem;*/
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
   
  hr {
    height: 0.063rem;
    background-color: var(--color-stone-150);
    border: none;
    margin-block-start: 2rem;
    margin-block-end: 0rem;
  }
   
  .recipe-nutrition table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;
  }
   
  .recipe-nutrition td {
    padding: 0.813rem 0;
    border-bottom: 1px solid var(--color-stone-150);
  }
   
  .recipe-nutrition td:first-child {
    padding-left: 2rem;
  }
   
  .recipe-nutrition td:last-child {
    color: var(--color-brown-800);
    font-weight: 600;
  }
  .recipe-nutrition tr:last-child td{
    border-bottom: none;
    padding-bottom: 0.438rem;
  }

  .recipe-ingredients li::marker,.recipe-instruction li::marker{
    color: var(--color-brown-800);
  }
   
  /* Desktop styles */
  @media (min-width: 48rem) { 
    /* Use em or rem units in media queries to respect user font-size preferences and ensure better accessibility. */
    /* 768px - 48rem*/
    body {
      display: grid;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
     
    }
   
    .wrapper {
     
      width: 41rem;
      border-radius: 1.5rem;
      overflow: hidden; 
      padding: 2.4rem;
      margin-top: 18vh;
      margin-bottom: 18vh;
    }
  
    .recipe-img {
      border-radius: 1rem; 
    }
  }
    
